{{define "subject"}}Finish Registration With GopherSocial {{end}} {{define
"Body"}}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <p>Hi, {{.Username}}</p>
        <p>
            Thanks for signing up for GopherSocial.We're excited to have you on
            board!
        </p>
        <p>
            Before you can start using GopherSocial, you need to confirm your
            mail address.Click link below to confirm your mail address:
        </p>
        <p><a href="{{.ActivationURL}}">{{.ActivationURL}}</a></p>
        <p>
            If you want to activate your accout manually copy and past the code
            from the link above
        </p>
        <p>
            If you didn't sign up for GopherSocial, you can safely ignore this
            mail.
        </p>
        <p>Thanks,</p>
        <p>The GopherSocial Team</p>
    </body>
</html>

{{end}}
